[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "blavaan"]
	path = blavaan
	url = https://github.com/ecmerkle/blavaan
	shallow = true
	registered = true
